/*----------Tamaño de fuentes----------*/
$fontsize-h2-large: 2.3rem;
$fontsize-h2-medium: 2.1rem;
$fontsize-h2-small: 1.9rem;
$fontsize-h2-extrasmall: 1.7rem;

/*-----Colores de fuente-----*/
$fontcolor-nav: #000;
$fontcolor-h2: #000;
$fontcolor-footer: #000;

/*----------Tipo de fuentes----------*/
$fontfamily-general: 'Montserrat';

/*---------- Colores boton ----------*/
$btncolor-principal: #873d34c4;
$btncolor-secundario: #873d34;